<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/docs.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/pygments-manni.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/stylos/codecomparator.css">
	<script type="text/javascript" src="../assets/js/jquery.js"></script>
	<script type="text/javascript" src="../assets/js/bootstrap.js"></script>
	<script type="text/javascript" src="../assets/js/codecomparator.js"></script>
</head>
<body>
	<div class="container">
		<h1 class="page-header">Laboratorio</h1>
		<br>
		
	 <div class="row form-group">
	 	
	 	<div class="col-md-6">
	 		<button type="button" class="btn btn-danger"><strong>Iniciar Examen </strong> <span class="glyphicon glyphicon-time"></span> </button>
	 	</div>
	 	<div class="col-md-6">
	 	</div>
	 </div>
	 <br>
	 <div class="row">
	 	 <div class="col-md-1">
	 	 	<strong>Curso:</strong>
	 	 </div>
	 	 <div class="col-md-4">

	 	 	<p>Algoritmica 1</p>
	 	 </div>
	 </div>
	 <br>
	 <table class="table table-bordered">
	 	<thead>
	 		<tr>
              <th>Codigo</th>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>Estado</th>
	 		</tr>
	 	</thead>
      <tbody>
      <tr>
      	<td></td>
      </tr> 
       </tbody>
	 </table>
	</div>
</body>
</html>
