<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/docs.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/pygments-manni.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/stylos/codecomparator.css">
	<script type="text/javascript" src="../assets/js/jquery.js"></script>
	<script type="text/javascript" src="../assets/js/bootstrap.js"></script>
	<script type="text/javascript" src="../assets/js/codecomparator.js"></script>
</head>
<body style="background-color: #eee;">
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">CodeComparator</a>
        </div>
        <div class="navbar-collapse collapse">
         
        </div><!--/.navbar-collapse -->
      </div>
    </div>
	<div class="container">
         <form class="form" id="login">
         	<img src="../assets/img/icon_login.png" style="width: 35%;border-radius: 50%;margin-left: 32%;"> 
         	<br>
         	<br>
         	<input type="email" class="form-control" placeholder="Correo electronico">
            <input type="password" class="form-control" placeholder="Contraseña">  
            <label class="checkbox">
              <input type="checkbox" value="remember-me">Recordarme
           </label>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>


         </form>
         <a href="#" class="crear_cuent">¿Haz olvidado tu contraseña?</a>
         <a href="#" class="crear_cuent">Crear una cuenta</a>
	</div>
</body>
</html>