<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/docs.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/pygments-manni.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/stylos/codecomparator.css">
    <script type="text/javascript" src="../assets/js/jquery.js"></script>
	<script type="text/javascript" src="../assets/js/bootstrap.js"></script>
	<script type="text/javascript" src="../assets/js/codecomparator.js"></script>
</head>
<body>
 <div class="container">
 	<h1 class="page-header">Laboratorio</h1>
    <br>
    <form class="form-horizontal ">
    	<div class="row form-group">
		       <div class="col-md-6">
			     <label class="col-md-5 control-label" style="margin-left: -31%;">Curso:</label>
			    <div class="col-md-7">
				   <select class="form-control">
                    <option>Seleccione Curso</option>
                    <option>ALGORITMICA 1</option>
                    <option>ANALISIS Y DISEÑO</option>
                   </select>

			</div>
		</div> 		
		</div>
		<br>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Codigo</th>
					<th>Nombre</th>
					<th>Apellidos</th>
					<th>Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr>
                 <td>09200220</td>
                 <td>Danilo</td>
                 <td>Carranza Chiara</td>
                 <td><a href="#" class="btn  btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a></td>
				</tr>
				<tr>
                    <td>09200216</td>
                    <td>Jorge</td>
                    <td>Tello Gamarra</td>
                    <td><a href="#" class="btn  btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a></td>
				</tr>
				<tr>
                <td>09200223</td>
                 <td>Carolina</td>
                <td>Humamanzisa Gironda</td>
                <td><a href="#" class="btn  btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a></td>
				</tr>
				<tr>
                   <td>09200056</td> 
                   <td>Jose</td>
                   <td>Hinojoza Acevedo</td>
                   <td><a href="#" class="btn  btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a></td>
				</tr>
				<tr>
                   <td>09200230</td> 
                   <td>Pamela</td>
                   <td>Aqguirre Ayala</td>
                   <td><a href="#" class="btn  btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a></td>
				</tr>
			</tbody>
		</table>
    </form>

 </div>
</body>
</html>
