<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/docs.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/pygments-manni.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/stylos/codecomparator.css">
	<script type="text/javascript" src="../assets/js/jquery.js"></script>
	<script type="text/javascript" src="../assets/js/bootstrap.js"></script>
	<script type="text/javascript" src="../assets/js/codecomparator.js"></script>
	
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">CodeComparator</a>
        </div>
        <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
        	<li><a href="#">Inicio</a></li>
        	<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestión <b class="caret"></b></a>
                 <ul class="dropdown-menu">
                                <li><a href="#">Alumno</a></li>
                                
                                <li><a href="#">Curso</a></li>
                            </ul>
        	</li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Tomar Examen <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                                <li><a href="#">Asignar Alumno</a></li>
                                
                                <li><a href="#">Examen</a></li>
                            </ul>
            </li>
        	<li><a href="#">Comparación de Proyectos</a></li>
        	<li><a href="#">Historiales</a></li>

        </ul>
         <ul class="nav navbar-nav navbar-right">
         	
         	<li class="dropdown">
                  <a href="#" id="email" class="dropdown-toggle" data-toggle="dropdown">10200138@unmsm.edu.pe<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Configuracion</a></li>
                                
                                <li><a href="j_spring_security_logout">Cerrar Sesion</a></li>
                            </ul>
                        </li>
         </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
	<div class="container">
	 <br>
	 <br>
	 <div class="row">
	 	 <div class="col-md-1">
	 	 	<strong>Curso:</strong>
	 	 </div>
	 	 <div class="col-md-4">

	 	 	<p>Algoritmica 1</p>
	 	 </div>
	 </div>
	 <br>
	 <div class="row highlight">
	 	<div class="col-md-8">
	 	<br>
	 		<div class="row">
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active" data-toggle="modal" data-target="#myModal">1</button>
	 			</div>
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">2</button>
	 			</div>
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">3</button>
	 			</div>
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">4</button>	 				
	 			</div>
	 		</div>
	 		<br>
	 		<div class="row">
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">5</button>
	 			</div>
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">6</button>
	 			</div>
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">7</button>
	 			</div>
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">8</button>	 				
	 			</div>
	 		</div>
	 		<br>
	 		<div class="row">
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">9</button>
	 			</div>
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">10</button>
	 			</div>
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">11</button>
	 			</div>
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">12</button>	 				
	 			</div>
	 		</div>
	 		<br>
	 		<div class="row">
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">13</button>
	 			</div>
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">14</button>
	 			</div>
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">15</button>
	 			</div>
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">16</button>	 				
	 			</div>
	 		</div>
	 	</div>
	 	<div class="col-md-4">
	 		<table class="table table-bordered"> 
	 			<thead>
	 				<tr>
	 					<th>Código</th>
	 					<th>Nombres y Apellidos</th>
	 				</tr>
	 			</thead>
	 			<tbody>
	 				<tr>
	 					<td>09200216</td>
	 					<td>Jorge, Tello Gamarra</td>
	 				</tr>
	 				<tr>
	 					<td>09200223</td>
	 					<td>Carolina,Humamanzisa Gironda</td>
	 				</tr>
	 				<tr>
	 					<td>09200220</td>
	 					<td>Danilo, Carranza Chiara</td>
	 				</tr>
	 				<tr>
	 					<td>09200056</td>
	 					<td>Jose, Hinojoza Acevedo</td>
	 				</tr>
	 				<tr>
	 					<td>09200230</td>
	 					<td>Pamela, Aqguirre Ayala</td>
	 				</tr>
	 			</tbody>
	 		</table>
	 	</div>
	 </div>
	 <br>
	
	</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Asignar Código</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<label class="col-md-3 control-label">Código</label>
					<div class="col-md-5">
						<input class="form-control" >
					</div>
					<br>
				</form>
			</div>
			<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar</button>				
			</div>
		</div>
	</div>
</div>
</body>
</html>