<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/docs.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/pygments-manni.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/stylos/codecomparator.css">
		<script type="text/javascript" src="../assets/js/jquery.js"></script>
	<script type="text/javascript" src="../assets/js/bootstrap.js"></script>
	<script type="text/javascript" src="../assets/js/codecomparator.js"></script>
</head>
<body>
	<div class="container">
		<h1 class="page-header">Laboratorio</h1>
		<br>
		<form class="form-horizontal ">
			<div class="row form-group">
		       <div class="col-md-6">
			     <label class="col-md-5 control-label" style="margin-left: -31%;">Curso:</label>
			    <div class="col-md-7">
				   <select class="form-control">
                    <option>Seleccione Curso</option>
                    <option>ALGORITMICA 1</option>
                    <option>ANALISIS Y DISEÑO</option>
                   </select>

			</div>
		</div> 		
		</div>
		
		<h3 class="page-header">Registrar Alumno</h3>
		<div class="highlight">
			<div class="row form-group">
			<div class="col-md-6">
				<label class="col-md-5 control-label" >Codigo</label>
				<div class="col-md-7">
				<input type="text" class="form-control" >
			</div>

			</div>

		</div>
		<div class="row form-group">
			 <div class="col-md-6">
           	 <label class="col-md-5 control-label">Nombre</label>
           	 <div class="col-md-7">
           	 	<input type="text" class="form-control">
           	 </div>
           </div>
           <div class="col-md-6">
           	 <label class="col-md-5 control-label">Apellidos</label>
           	 <div class="col-md-7">
           	 	<input type="text" class="form-control">
           	 </div>
           </div>
		</div>
		<hr>
		<div class="form-actions"  style="text-align: center;">
            <button type="submit" class="btn btn-primary left" id="save_med">Guardar</button>
            <button type="reset" class="btn btn-default left" id="cancel_med">Cancelar</button>
        </div>
		</div>
		
		</form>	
		
	</div>
</body>
</html>